h1 {
  font-weight: bold;
  color: white ;
  font-size: 60px;
  font-family: sans-serif;
  text-shadow: 2px 2px 5px black;
  text-align: left;
}

.link {
    font-weight: bold;
    color: #ffffff ;
    font-size: 80px;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px black;
  }

h3 {
    text-align: right;
}